RAILS_ENV=development
APP_HOST=localhost
APP_PORT=3000
APP_PROTOCOL=http
ACTIVE_STORAGE_SERVICE=local
RAILS_MAX_THREADS=5
PORT=3000
JOB_CONCURRENCY=1
RAILS_LOG_LEVEL=info
REDIS_URL=redis://localhost:6379/1
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=wildwaters_development
DB_QUEUE_NAME=wildwaters_development_queue
DB_TEST_NAME=wildwaters_test
DB_TEST_QUEUE_NAME=wildwaters_test_queue
DB_CACHE_NAME=wildwaters_production_cache
DB_CABLE_NAME=wildwaters_production_cable
WILDWATERS_DATABASE_PASSWORD=
GEONAMES_SOURCE_KEY=geonames_regions
GEONAMES_COUNTRY_CODES=AD
GEONAMES_LANGUAGES=en,ru
GEONAMES_FEATURE_CODES=PCLI,ADM1,PPLA,PPLC
GEONAMES_DOWNLOAD_ALTERNATE_NAMES=1
GEONAMES_DOWNLOAD_DIR=tmp/imports/geonames/geonames_regions
GEONAMES_INITIATED_BY=manual
GEONAMES_MODE=full
